<h2>Todo List</h2>

<div>
    <ul class="todos">
        <li *ngFor="let todo of todos" class="todo-list">
            <mat-card>
                <mat-card-header>{{todo.state}}</mat-card-header>
                <mat-card-content>{{todo.title}}, {{todo.body}}, {{todo.category_name}}</mat-card-content>
                <button type="button" class="delete" title="delete todo" (click)="deleteTodo(todo)">x</button>
                <a href="/todo/edit/{{todo.id}}">
                    <button type="button" class="update" title="update todo">編集</button>
                </a>
            </mat-card>
        </li>
    </ul>
</div>

<app-todo-create></app-todo-create>