<form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
    <div class="add-form">
    <mat-form-field appearance="fill">
        <mat-label>カテゴリー名</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>スラッグ(半角英数字で入力)</mat-label>
        <input matInput formControlName="slug">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>カラー</mat-label>
        <mat-select formControlName="color">
            <mat-option *ngFor="let color of colors" [value]="color.id">
                {{ color.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <button mat-raised-button type="submit">追加</button>
</form>