<form [formGroup]="todoForm" (ngSubmit)="save()">
    <div class="form-area">
        <mat-form-field appearance="fill">
            <mat-label>タイトル</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>内容</mat-label>
            <textarea matInput formControlName="body"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>カテゴリ</mat-label>
            <mat-select formControlName="category_id">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{ category.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>ステータス</mat-label>
            <mat-select formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state.id">
                    {{ state.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button mat-raised-button type="button" (click)="goBack()">go back</button>
    <button mat-raised-button type="button" (click)="save()" ng-disabled="todoForm.$invalid">save</button>
</form>